<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat Room</title>
</head>
<body>
    <h1>WebSocket Chat Room</h1>
    <form id="message-form" onsubmit="addMessage(event)">
        <input type="text" id="user-input" placeholder="Enter your name" required>
        <input type="text" id="message-input" placeholder="Enter your message" required>
        <button type="submit" id="message-btn">Send</button>
    </form>
    <div id_"chat-box"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        const socket = io()
        const form = document.getElementById('message-form')
        const input = document.getElementById('message-input')
        const userInput = document.getElementById('user-input')
        const chatBox = document.getElementById('chat-box')

        console.log(form)

        const addMessage =(event)=>{
            event.preventDefault()
            const message = input.value
            const user = userInput.value;

            if (message && user){
                socket.emit('message', { user: user, text: message });
            }

            input.value = ""
            userInput.value = ""
         
        }

        socket.on('message', function(message){
            const p = document.createElement('p')
            p.textContent = `${message.user}: ${message.text}`
            chatBox.appendChild(p)

        })

        socket.on('connect', function(){
            socket.emit('message', "New User Connected")
        })
        
    </script>
</body>
</html>